.user-profile {
  margin-top: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectedUser ul {
  list-style-type: none;
}

.selectedUser ul li {
  display: flex;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

.profile-list li {
  display: flex;
  margin-bottom: 8px;
  font-size: 16px;
}

.label {
  font-weight: 600;
  width: 100px;
}

.value {
  margin-left: 10px;
  color: #333;
}

@media (max-width: 600px) {
  .user-profile {
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
