.home-hero {
  margin-top: 150px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.user-click {
  color: red;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.user-click:hover {
  color: darkred;
}

.account-access-register {
  margin-top: 20px;
  display: inline-block;
  background: #ffffff;
  padding: 12px 18px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}
