/**/

.hero {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

/*Form Styling*/

.form-main {
  height: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.form-main:hover {
  transform: translateY(-3px);
}

.form-main h2 {
  font-size: 1.6rem;
  color: #0077ff;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.form-field1 {
  display: flex;
  column-gap: 20px;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.form-field label {
  font-weight: 600;
  color: #333;
  margin-right: 0.5rem;
  flex: 1;
  text-align: left;
  margin-right: 25px;
}

.form-field input {
  flex: 2;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: all 0.2s;
}

.form-field input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 6px rgba(0, 119, 255, 0.3);
}

.form-field select {
  width: 205px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 0.95rem;
  transition: all 0.5s;
}
.form-field select:focus {
  color: #333;
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 6px rgba(0, 119, 255, 0.3);
}

.form-field input[type="date"] {
  flex: 2.2;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: all 0.2s;
}

.label-title {
  font-weight: bold;
  padding: 14px 0px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
  cursor: pointer;
  font-size: 14px;
}

.radio-option input[type="radio"] {
  accent-color: #0d6efd; /* Blue color like Bootstrap */
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.btn-submit {
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  background: #28a745;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background: #218838;
}

.btn-update {
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  background: #005bc2;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-update:hover {
  background: #116ee0;
}

/*Delete Data*/

.btn-delete {
  margin-top: 1rem;
  float: right;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  background: #ec2c2cea;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-delete:hover {
  background: #9b2222ec;
}

/*end Form Styling*/

@media (max-width: 660px) {
  .form-main {
    margin: 10px 6px;
    height: auto;
    background-color: rgba(255, 0, 0, 0.179);
  }
  .form-field1 {
    display: flex;
    flex-wrap: wrap;
  }
  .form-field-item1 {
    margin: 0.8rem 0;
  }
}
